<h1 mat-dialog-title>Add new User ({{data.role}})</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field class="yum-form-input">
          <input matInput
            type="text"
            placeholder="Name"
            formControlName="name"
            #name>
        </mat-form-field>
        <mat-form-field class="yum-form-input">
          <input matInput
            type="email"
            placeholder="Email"
            formControlName="email"
            #email>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" [disabled]="!userForm.valid" [mat-dialog-close]="userForm.value" cdkFocusInitial>Ok</button>
  <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
</div>
