<div class="reset-page">
    <div class="centered reset-page-form p-grid">
      <div class="p-col"></div>
      <div class="p-col-fixed" style="width: 400px;">
        <div class="yum-text-center yum-logo"><fa-icon [icon]="faYenSign"></fa-icon></div>
        <div class="yum-form-wrapper">
          <h2 class="yum-text-center">Reset password</h2>
          <form [formGroup]="form">
              <mat-form-field class="yum-form-input">
                  <input matInput
                    autocomplete="a"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    #password>
                </mat-form-field>
                <mat-form-field class="yum-form-input">
                  <input matInput
                  autocomplete="a"
                    [errorStateMatcher]="matcher"
                    type="password"
                    placeholder="Confirm Password"
                    formControlName="password2"
                    #password2>
                    <mat-error *ngIf="form.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            <button
              [disabled]="!form.valid"
              mat-flat-button color="accent"
              class="yum-form-input yum-submit"
              (click)='reset(password.value)'>Update password</button>
          </form>
        </div>
      </div>
      <div class="p-col"></div>
    </div>
  </div>
