<h1 mat-dialog-title>Update Meal</h1>
<div mat-dialog-content>
    <form [formGroup]="mealForm">
        <input matInput
        hidden
        type="text"
        formControlName="id"
        value="{{data.id}}"
        #id>
        <mat-form-field class="yum-form-input">
          <input matInput
            type="text"
            placeholder="Name"
            formControlName="name"
            #name>
        </mat-form-field>
        <mat-form-field class="yum-form-input">
          <input matInput
            type="number"
            placeholder="Calories"
            formControlName="calories"
            #calories>
        </mat-form-field>
        <mat-form-field class="yum-form-input">
            <input #date formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="yum-form-input">
            <input #time [format]="24" matInput formControlName="time" [ngxTimepicker]="timepicker">
            <ngx-material-timepicker #timepicker></ngx-material-timepicker>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" [disabled]="!mealForm.valid" [mat-dialog-close]="mealForm.value" cdkFocusInitial>Ok</button>
  <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
</div>
