<div class='settings-page'>
  <mat-card>
    <h2>Settings</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Name, goals, etc...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div [formGroup]='privacyForm'>
          <mat-form-field>
            <input #userNameControl formControlName='userNameControl' matInput placeholder="Full name" [(ngModel)]='userName'>
          </mat-form-field>
        </div>
        <button
          (click)='savePersonalData()'
          *ngIf='!loadingPersonalData; else spinnerPd' mat-flat-button color="warn" [disabled]="!privacyForm.valid || !privacyForm.dirty">SAVE</button>
        <ng-template #spinnerPd>
            <mat-progress-spinner
            diameter='40'
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </ng-template>
      </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Security
            </mat-panel-title>
            <mat-panel-description>
              Password
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button
            (click)='resetPasswordAsk()' mat-flat-button
            color="accent" [disabled]="resetPasswordConfirm">RESET PASSWORD</button>

            <button style="margin-left: 15px;"
              (click)='resetPassword()' *ngIf='resetPasswordConfirm' mat-flat-button
              color="accent" [disabled]="resetPasswordConfirmed">Are you sure?</button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
</div>
