.yum-button-filled {
  margin-top: 30px;
  background-color: white;
  height: 40px;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  color: #ff5b5be6;
  font-size: 17px;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
}

.yum-button-outline {
  margin-top: 15px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #ff5b5be6;
  }
}
