<div class='history-page'>
  <mat-card>
    <form [formGroup]="mealForm">
      <div class='p-grid p-justify-start'>
        <div class='p-col-fixed form-group-box'>
            <mat-form-field class="yum-form-input">
                <input #dateFrom formControlName="dateFrom" matInput [matDatepicker]="dateFromPicker" placeholder="Date From">
                <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateFromPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="yum-form-input">
                <input #dateTo formControlName="dateTo" matInput [matDatepicker]="dateToPicker" placeholder="Date To">
                <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateToPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class='p-col-fixed form-group-box'>
            <mat-form-field class="yum-form-input">
                <input #timeFrom [format]="24" matInput formControlName="timeFrom" [ngxTimepicker]="timeFromPicker" placeholder="Time From">
                <ngx-material-timepicker #timeFromPicker></ngx-material-timepicker>
            </mat-form-field>
            <mat-form-field class="yum-form-input">
                <input #timeTo [format]="24" matInput formControlName="timeTo" [ngxTimepicker]="timeToPicker" placeholder="Time To">
                <ngx-material-timepicker #timeToPicker></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div class='p-col'></div>
      </div>
      <button mat-flat-button color="warn" [disabled]='!mealForm.valid'
        (click)='search(dateFrom.value, dateTo.value, timeFrom.value, timeTo.value)'>SEARCH</button>

    </form>
  </mat-card>
  <app-meals-list [userId]='userId' [canCreate]='true' [meals]='meals' (reload)='search(dateFrom.value, dateTo.value, timeFrom.value, timeTo.value)' [isLoading]='isLoadingMeals'></app-meals-list>
</div>
