.history-page {
  width: 100%;

  mat-card {
    margin: 10px;
    margin-bottom: 35px;

    form {
      width: 100%;

      .form-group-box {
        width: 250px;
      }

      .yum-form-input {
        width: 200px;
        display: block;
      }
    }
  }
}
