<h1 mat-dialog-title>Update User ({{data.id}})</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <input matInput
        hidden
        type="text"
        formControlName="id"
        value="{{data.id}}"
        #id>
        <mat-form-field class="yum-form-input">
          <input matInput
            type="text"
            placeholder="Name"
            formControlName="name"
            #name>
        </mat-form-field>

      </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" [disabled]="!userForm.valid || isLoading" [mat-dialog-close]="userForm.value" cdkFocusInitial>Ok</button>
  <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
</div>
