<h1 mat-dialog-title>Add new Meal</h1>
<div mat-dialog-content>
    <form [formGroup]="mealForm">
        <mat-form-field class="yum-form-input">
          <input matInput
            type="text"
            placeholder="Name"
            formControlName="name"
            #name>
        </mat-form-field>
        <mat-form-field class="yum-form-input">
          <input matInput
            type="number"
            placeholder="Calories"
            formControlName="value"
            #value>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" [disabled]="!mealForm.valid" [mat-dialog-close]="mealForm.value" cdkFocusInitial>Ok</button>
  <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
</div>
