<div class="login-page">
    <div class="centered login-page-form p-grid">
      <div class="p-col"></div>
      <div class="p-col-fixed" style="width: 400px;">
        <div class="yum-text-center yum-logo"><fa-icon [icon]="faYenSign"></fa-icon></div>
        <div class="yum-form-wrapper">
          <h2 class="yum-text-center">Sign up</h2>
          <form [formGroup]="form">
            <mat-error *ngIf='userExists'>User with such email already exists</mat-error>
            <mat-form-field class="yum-form-input">
              <input matInput
                type="text"
                placeholder="Full Name"
                formControlName="name"
                #name>
            </mat-form-field>
            <mat-form-field class="yum-form-input">
              <input matInput
                type="email"
                placeholder="Email"
                formControlName="email"
                #email>
            </mat-form-field>
            <mat-form-field class="yum-form-input">
              <input matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                #password>
            </mat-form-field>
            <mat-form-field class="yum-form-input">
              <input matInput
                [errorStateMatcher]="matcher"
                type="password"
                placeholder="Confirm Password"
                formControlName="password2"
                #password2>
                <mat-error *ngIf="form.hasError('notSame')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <button
              [disabled]="!form.valid"
              mat-flat-button color="accent"
              class="yum-form-input yum-submit"
              (click)='signup(name.value, email.value, password.value)'>Sign up</button>
          </form>
        </div>
        <div class="yum-separator"></div>
        <div class="yum-text-center yum-sign-footer">
          Already have an account? <a [routerLink]="['/login']" class='yum-sign-up'>Sign in</a>
        </div>
      </div>
      <div class="p-col"></div>
    </div>
  </div>
