.yum-text-center {
  text-align: center;
}

.yum-logo {
  color: #ff5b5be6;
  background-color: white;
  font-size: 45px;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.yum-form-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: #fffdfa;

  >form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .yum-form-input {
    width: 100%;
  }

  .yum-submit {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.yum-separator {
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 35px;
  margin-bottom: 20px;
}

.yum-sign-footer {

  color: white;

  .yum-sign-up {
    color: white;
  }
}
