<div class="reset-page">
    <div class="centered reset-page-form p-grid">
      <div class="p-col"></div>
      <div class="p-col-fixed" style="width: 400px;">
        <div class="yum-text-center yum-logo"><fa-icon [icon]="faYenSign"></fa-icon></div>
        <div class="yum-form-wrapper">
          <h2 class="yum-text-center">Reset password</h2>
          <form [formGroup]="form">
              <mat-form-field class="yum-form-input">
                  <input matInput
                    autocomplete="a"
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    #email>
                </mat-form-field>
            <button
              [disabled]="!form.valid"
              mat-flat-button color="accent"
              class="yum-form-input yum-submit"
              (click)='reset(email.value)'>Send email with link</button>
          </form>
        </div>
      </div>
      <div class="p-col"></div>
    </div>
  </div>
