<mat-sidenav-container class="yum-page">
    <mat-sidenav class="yum-navigation-panel" mode="side" opened>
      <app-navigation [links]='navLinks'></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content class="yum-content">
      <app-top-panel></app-top-panel>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
