.yum-page {
  height: 100%;
}

.yum-navigation-panel {
  height: 100%;
  width: 250px;
  border: 0;
}

:host ::ng-deep .mat-drawer-inner-container {
  background: linear-gradient(-45deg, rgba(210, 48, 120, 0.9), rgba(255, 121, 85, 0.9)),
  url('/assets/images/wp.jpg');
  background-size: cover;
}

.yum-top-panel {
  height: 60px;
  width: 100%;
  background: linear-gradient(-45deg, rgba(255, 54, 54, 0.9), rgba(255, 0, 0, 0.56));

  .yum-user-panel,
  .yum-settings {
    padding: 0;
  }

  .yum-user-panel {
    padding: 0;
    padding-left: 10px;

    >.p-grid {
      height: 60px;
    }

    .yum-surround {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      padding: 8px;
      margin-bottom: auto;
      margin-top: auto;
      border: 2px solid #ffffff;
      text-align: center;
      padding-top: 5px;
      font-family: "Courier New", Courier, monospace !important;
      font-size: 30px;
      font-weight: bolder;
      background: linear-gradient(-45deg, rgba(255, 128, 89, 0.9), rgba(0, 254, 255, 0.56));
      color: white;
    }

    .yum-user-name {
      color: white;
      text-transform: uppercase;
      line-height: 40px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .yum-settings {
    padding-right: 0px;

    >.p-grid {
      height: 60px;
    }

    .yum-settings-icon {
      font-size: 30px;
      color: white;
      vertical-align: text-bottom;
    }

    .yum-settings-button {
      text-align: justify;
    }
  }
}

p-overlayPanel {
  position: absolute;
  top: 69px;
  right: 30px;
  z-index: 10;

  .settings-item {
    width: 100%;
    font-size: 20px;
  }

  .settings-overlay-content {
    border: 2px solid lightgrey;
    background-color: white;
  }
}

.settings-list {
  padding: 0;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid lightgrey;
  position: absolute;
  top: -9px;
  right: 8px;
}
