<div class="yum-logo-header p-grid">
    <div class="yum-logo"><fa-icon [icon]="faYenSign"></fa-icon></div>
    <span>YUM</span>
</div>
<div class="yum-navigation p-grid">
  <ul>
    <li *ngFor='let nav of links'>
      <a mat-button routerLink="{{nav.path}}" [routerLinkActive]='["nav-active"]' [routerLinkActiveOptions]="{ exact: true }">
        <div class='p-grid p-justify-between'>
          <span class="p-col yum-nav-text">{{nav.label}}</span>
          <mat-icon class="p-col yum-nav-icon" aria-hidden="false" aria-label="today icon">{{nav.icon}}</mat-icon>
        </div>
      </a>
    </li>
  </ul>
</div>
