.yum-navigation {
  width: 100%;

  >ul {
    width: 100%;
    margin:0;
    padding: 0;

    >li {
      margin: 8px;
      list-style-type: none;

      >a {
        width: 100%;
        padding: 5px;
        font-size: 20px;
        color: white;

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }

        &.nav-active {
          background-color: rgba(0, 0, 0, 0.17);
        }

        .yum-nav-text,
        .yum-nav-icon {
          line-height: 15px;
        }

        .yum-nav-text {
          text-align: start;
        }

        .yum-nav-icon {
          padding-right: 10px;
          text-align: end;
          font-size: 20px;
        }
      }
    }
  }
}

:host ::ng-deep .mat-drawer-inner-container {
  background: linear-gradient(-45deg, rgba(210, 48, 120, 0.9), rgba(255, 121, 85, 0.9)),
  url('/assets/images/wp.jpg');
  background-size: cover;
}

.yum-logo {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 15px;
  padding-top: 0px;
  margin: 0px;
  margin-right: 10px;
  line-height: 40px;
}

.yum-logo-header {
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);

  >span {
    line-height: 40px;
    color: white;
    font-size: 30px;
  }
}
