<div class="login-page">
  <div class="centered login-page-form p-grid">
    <div class="p-col"></div>
    <div class="p-col-fixed" style="width: 400px;">
      <div class="yum-text-center yum-logo"><fa-icon [icon]="faYenSign"></fa-icon></div>
      <div class="yum-form-wrapper">
        <h2 class="yum-text-center">Sign in</h2>
        <form [formGroup]="form">
          <mat-error *ngIf='wrongLogin'>Wrong login or password</mat-error>
          <mat-form-field class="yum-form-input">
            <input matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              #email>
          </mat-form-field>
          <mat-form-field class="yum-form-input">
            <input matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              #password>
          </mat-form-field>
          <button
            [disabled]="!form.valid"
            mat-flat-button color="accent"
            class="yum-form-input yum-submit"
            (click)='login(email.value, password.value)'>Login</button>
        </form>
      </div>
      <div class="yum-separator"></div>
      <div class="yum-text-center yum-sign-footer">
        Not a user? <a [routerLink]="['/signup']" class='yum-sign-up'>Sign up</a>
      </div>
      <div class="yum-text-center yum-sign-footer">
        Forgot password? <a [routerLink]="['/forgot-password']" class='yum-sign-up'>Reset</a>
      </div>
    </div>
    <div class="p-col"></div>
  </div>
</div>
