/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: 'Segoe UI Light' !important;
  src: url('/assets/fonts/segoelight.ttf') !important; }

body {
  margin: 0;
}

button {
  font-family: "Segoe UI Light" !important;
}

input {
  font-family: "Segoe UI Light" !important;

  // &:focus {
  //   outline: none;
  // }
  // &:-webkit-autofill {
  //   outline: none;
  // }
}

.login-page {
  background:  linear-gradient(-45deg, rgba(210, 48, 120, 0.9), rgba(255, 121, 85, 0.9)),
    url('/assets/images/wp.jpg');
    background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI Light' !important;
  src: url('/assets/fonts/segoelight.ttf') !important;

  .login-page-form {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.yum-logo {
  color: #ff5b5be6;
  background-color: white;
  font-size: 45px;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.p-grid {
  margin: 0;
}

*:not(.material-icons) {
  font-family: "Segoe UI Light" !important;
}

.timepicker-overlay {
  z-index: 10000 !important;
}
