<mat-sidenav-container class="yum-page">
  <mat-sidenav class="yum-navigation-panel" mode="side" opened>
    <app-navigation [links]='navLinks'></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="yum-content">
    <div class="yum-top-panel">
      <div class="p-grid p-justify-between">
        <div class="p-col yum-user-panel">
          <div class="p-grid">
            <div class="p-col-fixed yum-surround">{{firstLetterName}}</div>
            <div class="p-col yum-user-name">{{userName}}</div>
          </div>
        </div>
        <div class="p-col yum-settings">
          <div class="p-grid">
            <div class="p-col"></div>
            <button class="p-col-fixed yum-settings-button" mat-button (click)="settingsOp.toggle($event)">
              <mat-icon class="yum-settings-icon" aria-hidden="false" aria-label="today icon">settings</mat-icon>
            </button>

            <p-overlayPanel #settingsOp>
              <div class='settings-overlay-content'>
                <div class='arrow-up'></div>
                <mat-list class="settings-list">
                  <mat-list-item>
                      <button mat-button class="settings-item" routerLink='settings'> Preferences </button>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                      <button mat-button class="settings-item" (click)="logout()">Logout</button>
                  </mat-list-item>
                </mat-list>
              </div>

            </p-overlayPanel>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
