<div class='p-grid' style="position: relative; width: 100%; margin-top: 40px;">
    <mat-progress-spinner
      *ngIf='isLoading; else mealsList'
      diameter='40'
      [mode]="'indeterminate'">
    </mat-progress-spinner>
    <ng-template #mealsList>
      <button class="add-user-button" mat-mini-fab aria-label="" (click)='openAddUserDialog()'>
        <mat-icon>add</mat-icon>
      </button>
      <table mat-table [dataSource]="users" class="users-table">
        <ng-container matColumnDef="name">
          <th class="users-table-header" mat-header-cell *matHeaderCellDef> Name </th>
          <td class="users-table-cell" mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th class="users-table-header" mat-header-cell *matHeaderCellDef> Email </th>
          <td class="users-table-cell" mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="users-table-header" mat-header-cell *matHeaderCellDef> Actions </th>
          <td class="users-table-cell" mat-cell *matCellDef="let user">
            <button (click)='openUpdateUserDialog(user.id)' matTooltip="Edit" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)='deleteUser(user.id)' matTooltip="Delete" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button (click)='viewMeals(user.id)' *ngIf='canViewMeals' matTooltip="Meals" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>fastfood</mat-icon>
            </button>
            <button (click)='resetPassword(user.email)' matTooltip="Reset password" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>rotate_left</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row class="users-table-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="users-table-header" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </ng-template>
</div>
