.meals-table {
  width: 100%;
  box-shadow: 0 0 0 8px rgba(255, 132, 132, 0.2);
}

.meals-table-header {
  font-size: 18px !important;
}

.meals-table-cell {
  font-size: 18px;
}

.add-meal-button {
  position: absolute;
  top: -24px;
  right: 20px;
}

.mat-paginator {
  background-color: lightpink;
  font-size: 18px;
  width: 100%;
}
