<div class='p-grid' style="position: relative;">
    <mat-progress-spinner
      *ngIf='isLoading; else mealsList'
      diameter='40'
      [mode]="'indeterminate'">
    </mat-progress-spinner>
    <ng-template #mealsList>
      <button *ngIf='canCreate' class="add-meal-button" mat-mini-fab aria-label="" (click)='openAddMealDialog()'>
        <mat-icon>add</mat-icon>
      </button>
      <table mat-table [dataSource]="meals" class="meals-table">
        <ng-container matColumnDef="name">
          <th class="meals-table-header" mat-header-cell *matHeaderCellDef> Name </th>
          <td class="meals-table-cell" mat-cell *matCellDef="let meal"> {{meal.name}} </td>
        </ng-container>
        <ng-container matColumnDef="cals">
          <th class="meals-table-header" mat-header-cell *matHeaderCellDef> Calories </th>
          <td class="meals-table-cell" mat-cell *matCellDef="let meal"> {{meal.calories}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th class="meals-table-header" mat-header-cell *matHeaderCellDef> Date </th>
          <td class="meals-table-cell" mat-cell *matCellDef="let meal"> {{meal.dateTime | date:'medium' }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th class="meals-table-header" mat-header-cell *matHeaderCellDef> Actions </th>
          <td class="meals-table-cell" mat-cell *matCellDef="let meal">
            <button (click)='openUpdateMealDialog(meal.id)' mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)='deleteMeal(meal.id)' mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row class="meals-table-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="meals-table-header" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </ng-template>
</div>
