<div class="login-page">
  <div class="centered login-page-form p-grid">
    <div class="p-col"></div>
    <div class="p-col-fixed" style="width: 400px;">
      <div class="yum-text-center yum-logo"><fa-icon [icon]="faYenSign"></fa-icon></div>
      <div class="yum-text-center yum-logo-name">YUM</div>
      <div class="yum-text-center yum-name">CALORIE TRACKER</div>
      <div class="yum-separator"></div>
      <div class="hor-center">
        <app-yum-button [outline]='false' (onClick)='navigate(["login"])'>Login</app-yum-button>
        <!-- <button class="yum-button-filled" style="font-weight: bolder;">Login</button> -->
        <div class="yum-or-separator p-grid">
          <div class="yum-line-separator p-col"></div>
          <div class="yum-or p-col-fixed" style="width: 40px;">OR</div>
          <div class="yum-line-separator p-col"></div>
        </div>
        <!-- <button class="yum-button-outline">Create an account</button> -->
        <app-yum-button [outline]='true' (onClick)='navigate(["signup"])'>Create an account</app-yum-button>
      </div>
    </div>
    <div class="p-col"></div>
  </div>
</div>
