.login-page {
  background:  linear-gradient(-45deg, rgba(210, 48, 120, 0.9), rgba(255, 121, 85, 0.9)),
    url('/assets/images/wp.jpg');
    background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI Light' !important;
  src: url('/assets/fonts/segoelight.ttf') !important;

  .login-page-form {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.login-page-form {
  width: 100%;
}

.yum-text-center {
  text-align: center;
}

.yum-logo-name {
  font-size: 37px;
  color: white;
}

.yum-logo {
  color: #ff5b5be6;
  background-color: white;
  font-size: 45px;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.yum-separator {
  background-color: white;
  width: 60px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.yum-name {
  font-size: 48px;
  color: white;
}

.centered {
  position: absolute;
  //height: 100px;
  top: 0;
  bottom: 0;
  margin:auto;
}

.yum-button-filled {
  margin-top: 30px;
  background-color: white;
  height: 40px;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  color: #ff5b5be6;
  font-size: 17px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: lighter;
  }
}

.yum-or-separator {
  margin-top: 20px;
}

.yum-button-outline {
  margin-top: 15px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #ff5b5be6;
    font-weight: bolder;
  }
}

.yum-line-separator {
  height: 1px;
  border-bottom: 1px solid white;
}

.yum-or {
  color: white;
  font-size: 15px;
}

button {
  font-family: "Segoe UI Light" !important;
}
