.yum-today-page {
  width: 100%;

  .yum-divider {
    width: 10px;
  }

  circle-progress {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .meals-list {
    width: 100%;

    .add-meal-button {
      position: absolute;
      bottom: -20px;
      right: 20px;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        width: 100%;

        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
