<div class="yum-today-page">
  <div class='p-grid'>
    <mat-progress-spinner
      *ngIf='isLoadingSettings; else stats'
      diameter='40'
      [mode]="'indeterminate'">
    </mat-progress-spinner>
    <ng-template #stats>
        <circle-progress
        [percent]="calPercent"
        [maxPercent]='100'
        [radius]="130"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="circleOuterColor"
        [innerStrokeColor]="'#ddd'"
        [animation]="false"
        [space]="-5"
        [title]='counterTitle'
        [subtitle]='"KCAL LEFT"'
        [subtitleFontSize]='20'
        [showTitle]='true'
        [showUnits]='false'
        [showBackground]='true'
        [backgroundColor]='circleBackColor'
        [backgroundPadding]='0'
      ></circle-progress>
    </ng-template>
  </div>
  <app-meals-list [meals]='meals' (reload)='loadMeals()' [isLoading]='isLoadingMeals'></app-meals-list>
</div>
